/* For samll computer (1200px) */

@media screen and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
  .header {
    justify-content: space-between;
    padding: 0 1.2rem;
  }
  .nav-list {
    gap: 2.5rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .hero-section {
    padding: 9.6rem 2.5rem 0 2.5rem;
  }
  .hero-properties {
    width: 55%;
    left: 2.5rem;
    bottom: -10rem;
  }
  .trusted-section {
    padding: 9.6rem 2.5rem;
  }
  .popular-listing {
    padding: 9.6rem 2.5rem;
  }
  .featured {
    padding: 9.6rem 2.5rem;
  }
  .popular-cities {
    padding: 9.6rem 2.5rem;
  }
  .testimonials {
    padding: 9.6rem 2.5rem;
  }
  .tst-img {
    height: 120px;
    width: 120px;
  }
  .tst-box::after {
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    top: 13rem;
    right: 8rem;
  }
  .tst-btn {
    padding: 0.6rem;
  }
  .tst-icon {
    font-size: 2.4rem;
  }
  .previous {
    transform: translate(-50%, -50%);
  }
  .next {
    transform: translate(50%, -50%);
  }
  .footer {
    padding: 9.6rem 2.5rem;
  }
  .form-input {
    width: 45rem;
  }
  .form-input::placeholder {
    font-size: 1.6rem;
  }
  .form-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #ad8040;
    color: #e8e8e8;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 0.8rem;
    position: absolute;
    top: 0;
    right: 50;
    transform: translate(200%, -40%);
  
}

/* For Tablets (992px) */

@media screen and (max-width: 992px) {
  html {
    font-size: 56%;
  }
  .header {
    position: relative;
    z-index: 9999;
    padding: 0 2rem;
  }
  .logo {
    z-index: 9999;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .header-buttons {
    display: block;
    z-index: 99999;
  }
  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .open {
    display: none;
  }
  .nav-open .close {
    display: block;
  }
  .hero-section {
    padding: 9.6rem 4rem;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-des {
    margin-bottom: 3rem;
  }
  .hero-properties {
    width: 90%;
    left: 4rem;
    bottom: -14rem;
  }
  .trusted-section {
    padding: 9.6rem 4rem;
  }
  .trust {
    grid-template-columns: 1fr;
  }
  .trust-img {
    width: 100%;
    grid-row: 3;
  }
  .trust-boxes {
    text-align: center;
  }
  .box p {
    text-align: center;
  }
  .popular-listing {
    padding: 9.6rem 4rem;
  }
  .popular-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }
  .card-footer {
    padding: 2.4rem 2rem;
  }
  .featured {
    padding: 9.6rem 4rem;
  }
  .feature-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-box:nth-child(2) {
    transform: none;
  }
  .feature-box:nth-child(5) {
    transform: none;
  }
  .popular-cities {
    padding: 9.6rem 4rem;
  }
  .cities-imgs {
    grid-template-columns: repeat(2, 1fr);
  }
  .ct-img-2 {
    transform: none;
  }
  .ct-img-3 {
    transform: none;
    height: 100%;
  }
  .ct-img-5 {
    transform: none;
    height: 100%;
  }
  .testimonial-boxes {
    grid-template-columns: 40rem;
    justify-content: center;
  }
  .tst-box {
    /* background-color: red; */
    padding: 4.4rem 5rem;
  }
  .tst-box::after {
    right: 10rem;
  }
  .tst-none {
    display: none;
  }
  .previous {
    transform: translate(370%, -50%);
  }
  .next {
    transform: translate(-370%, -50%);
  }
  .footer {
    padding: 9.6rem 4rem;
  }
  .header-footer {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .form-input {
    width: 52rem;
  }
  .form-btn {
    transform: translate(250%, -40%);
  }
}

/* For Tablets portarit (768px) */
@media screen and (max-width: 768px) {
  .popular {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.4rem auto auto;
  }
  .popular-btns {
    grid-row: 3;
    justify-self: start;
  }
  .popular h4 {
    margin-bottom: 2rem;
  }
  .popular-cards {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
  .card-list {
    justify-self: end;
  }
  .feature-boxes {
    grid-template-columns: 1fr;
  }
  .previous {
    transform: translate(225%, -50%);
  }
  .next {
    transform: translate(-225%, -50%);
  }
  .boxes-footer {
    grid-template-columns: 1fr;
  }
  .footer-box {
    display: flex;
    justify-self: start;
    flex-direction: column;
    gap: 1.8rem;
  }
}

/* For Mobile (768px) */

@media screen and (max-width: 576px) {
  .trust-boxes {
    grid-template-columns: 1fr;
  }
  .popular-btns {
    gap: 2rem;
  }
  .btn {
    font-size: 1.1rem;
  }
  .hero-properties {
    display: none;
  }
  .cities-imgs {
    grid-template-columns: 1fr;
  }
  .ct-img-3 {
    transform: none;
    height: 100%;
  }
  .ct-img-5 {
    transform: none;
    height: 100%;
  }
  .testimonial-boxes {
    grid-template-columns: 33rem;
  }
  .ct-img-3,
  .ct-img-5 {
    height: 50rem;
  }
  .tst-box::after {
    font-size: 1.2rem;
    padding: 1.3rem 0.8rem;
    top: 13rem;
    right: 9rem;
  }
  .tst-btn {
    padding: 0.6rem;
  }
  .tst-icon {
    display: none;
  }
  .previous {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(110%, -50%);
  }
  .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-110%, -50%);
  }
  .footer-heading {
    font-size: 3.4rem;
  }
  .footer-text {
    margin-bottom: 2rem;
  }
  .form-input {
    width: 30rem;
  }
  .form-btn {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    transform: translate(200%, -40%);
  }
  .form-btn span {
    font-size: 1.4rem;
  }
  .footer-icon {
    padding-left: 1rem;
    font-size: 2rem;
    color: #fff;
  }
}
