* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  line-height: 1;
  overflow-x: hidden;
}
.center {
  max-width: 120rem;
  margin: 0 auto;
}

/*******************/
/* HEADER */
/*******************/

.header {
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.logo {
  height: 8.6rem;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  position: sticky;
  top: 0;
}
.nav-item {
  display: flex;
  align-items: center;
}
.nav-item:last-child {
  border: 1px solid gray;
  padding: 1rem 2rem;
  border-radius: 3rem;
}
.nav-link:link,
.nav-link:visited {
  color: #333;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.3s;
}
.nav-link:hover,
.nav-link:active {
  color: #555;
}
.header-icon {
  font-size: 2.4rem;
  color: #333;
}
.header-buttons {
  display: none;
  border: none;
  background: none;
}
.header-btn {
  font-size: 4rem;
  color: #000;
  border: none;
  background: none;
}
.close {
  display: none;
}

/*******************/
/* HERO SECTION */
/*******************/

.hero-section {
  padding: 9.6rem 0 0 0;
  background-color: #e8e8e8;
  margin-bottom: 9.6rem;
  position: relative;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.4rem;
}
.primary-heading {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
  margin-bottom: 1.6rem;
}
.hero-des {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}
.hero-img {
  width: 100%;
}
.hero-properties {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: absolute;
  left: 7.2rem;
  bottom: -8rem;
}
.property {
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.1px rgba(0, 0, 0, 0.9);
  background-color: #fff;
  padding: 3rem;
}
.property h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.4rem;
}
.property p {
  font-size: 1.4rem;
  font-weight: 500;
}
.property-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}
.property-icon {
  font-size: 3.2rem;
  background-color: #fff9db;
  color: #000;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
}
.arrow-down-2 {
  font-size: 3.2rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
}
.property:hover .arrow-down-2 {
  opacity: 1;
}

/*******************/
/* TRUSTED SECTION */
/*******************/

.trusted-section {
  padding: 9.6rem 0;
  /* background-color: blue; */
}
.trust {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}
.secondary-heading {
  font-size: 5.2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
}
.trust-img {
  width: 100%;
  grid-row: 2;
}
.trust-des {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
}
.trust-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.box {
  box-shadow: 0 0 0 0.1px rgba(0, 0, 0, 0.9);
  border-radius: 0.5rem;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: #fff9db;
}
.box h4 {
  font-size: 4.4rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.2rem;
}
.box p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: justify;
}

/*******************/
/* popular listing */
/*******************/

.popular-listing {
  padding: 9.6rem 0;
}
.popular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.6rem;
}
.popular p {
  grid-row: 1;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.popular h4 {
  grid-row: 2;
  font-size: 3.6rem;
  font-weight: 600;
  color: #000;
}
.popular-btns {
  grid-row: 2;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.btn {
  text-decoration: none;
  font-size: 1.8rem;
  color: #555;
  border: 1px solid #555;
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}
.btn:hover {
  color: #fff;
  background-color: #000;
}
.popular-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.card {
  border-radius: 0.5rem;
  background-color: #fff9db;
  overflow: hidden;
  transition: all 0.3s;
}
.card:hover {
  transform: translateY(-0.5rem);
}
.card-img {
  width: 100%;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 3.2rem 0 3.2rem;
}
.card-price {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.popular-icon {
  font-size: 3.2rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.card-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.4rem 3.2rem;
}
.location {
  font-size: 1.4rem;
  font-weight: 400;
}
.location iconify-icon {
  font-size: 1.2rem;
  color: #000;
}

.card-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.card-item p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  grid-column: 1 / -1;
  justify-self: center;
}
.card-item span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  align-self: end;
}
.card-item:nth-child(2) {
  border-right: 1.5px solid #555;
  border-left: 1.5px solid #555;
  padding: 0 0.8rem;
}
.card-item:nth-child(1) {
  padding: 0 0.8rem 0 0;
}
.card-item:nth-child(3) {
  padding: 0 0 0 0.8rem;
}
.card-icon {
  font-size: 1.8rem;
  fill: #333;
  justify-self: center;
}

/*******************/
/* FEATURE SECTION */
/*******************/

.featured {
  padding: 9.6rem 0;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.heading {
  font-size: 3.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 4.4rem;
}
.feature-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}
.feature-box {
  /* box-shadow: 0 0 0 0.1px rgba(0, 0, 0, 0.9); */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.5rem;
  padding: 3.2rem;
  display: flex;
  gap: 2rem;
  transition: all 0.9s;
}
.feature-box:nth-child(2) {
  transform: translateY(-10.8rem);
}
.feature-box:nth-child(5) {
  transform: translateY(-10.8rem);
}
.feature-box:hover {
  background-color: #000;
  color: #aaa;
}
.feature-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-icon {
  font-size: 2.4rem;
  color: #fff;
  background-color: #000;
  padding: 0.8rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.feature-box:hover .feature-icon {
  background-color: #fff;
  color: #000;
}
.feature-num {
  font-size: 3rem;
  color: #aaa;
  font-weight: 400;
  grid-row: 2;
}
.feature-des h4 {
  font-size: 1.8rem;
  opacity: 0;
  margin-bottom: 1.2rem;
  transition: all 0.7;
}
.feature-box:hover h4 {
  opacity: 1;
  color: #fff;
}
.feature-text {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
  color: #aaa;
}

/*******************/
/* POPULAR CITIES */
/*******************/

.popular-cities {
  padding: 9.6rem 0;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.heading {
  font-size: 3.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 4.4rem;
}
.cities-imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.city-img {
  height: 50rem;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 2rem 2rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
  border-image: fill 0 linear-gradient(#0003, #0007);
}
/* .city-img:hover {
  opacity: 0.8;
} */
.ct-img-1 {
  background-image: url("/Img/cities/1280.jpg");
}
.ct-img-2 {
  background-image: url("/Img/cities/1280\ \(2\).jpg");
  transform: translateY(-11rem);
}
.ct-img-3 {
  background-image: url("/Img/cities/4160.jpg");
  height: 122%;
  transform: translateY(-11rem);
}
.ct-img-4 {
  background-image: url("/Img/cities/640.jpg");
}
.ct-img-5 {
  background-image: url("/Img/cities/1280\ \(3\).jpg");
  height: 122%;
  transform: translateY(-11rem);
}
.ct-img-6 {
  background-image: url("/Img/cities/640\ \(2\).jpg");
}
.city-img p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.09;
  opacity: 0;
  transition: all 0.3s;
  width: 100%;
}
.city-img:hover p {
  opacity: 1;
}
.city-img span {
  font-size: 1.6rem;
}
.city-icon {
  opacity: 0;
  transition: all 0.3s;
  rotate: 45deg;
  font-size: 3rem;
  color: #000;
}
.city-img:hover .city-icon {
  opacity: 1;
}

/*******************/
/* TESTIMONIAL SECTION */
/*******************/

.testimonials {
  padding: 9.6rem 0;
}
.tst-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-align: center;
}
.tst-heading {
  font-size: 3.6rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 4.4rem;
  text-align: center;
}
.testimonial-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem;
  position: relative;
}
.tst-box {
  text-align: center;
  padding: 4.4rem;
  transition: all 0.3s;
  position: relative;
}
.tst-box:hover {
  box-shadow: 0 0 0 0.1px rgba(0, 0, 0, 1);
  border-radius: 0.5rem;
}
.tst-img {
  height: 150px;
  width: 150px;
  border: 2px solid #339af0;
  padding: 0.6rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  display: inline-block;
}
.tst-box::after {
  content: "⭐5";
  font-size: 1.4rem;
  display: inline-block;
  background-color: #272727;
  color: #fff;
  padding: 2rem 1.39rem;
  border-radius: 100%;
  position: absolute;
  top: 14.1rem;
  right: 10.1rem;
}
.tst-name {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1.2rem;
}
.tst-position {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.tst-des {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 400;
}
.tst-btn {
  background-color: #fff;
  border: none;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.2);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
.tst-icon {
  font-size: 3rem;
  color: #339af0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.previous {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-125%, -50%);
}
.next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(125%, -50%);
}

/*******************/
/* FOOTER */
/*******************/
.footer {
  padding: 9.6rem 0;
  background-color: #272727;
}
.container {
  color: #e8e8e8;
}
.footer-divider {
  max-width: 120rem;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 4.8rem;
}
.header-footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.8rem;
}
.footer-heading {
  font-size: 3.6rem;
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.footer-text {
  font-size: 1.6rem;
  font-weight: 400;
}
.form-label {
  position: relative;
}
.form-input {
  width: 55rem;
  padding: 2.4rem;
  border: none;
  border-radius: 1.6rem;
}
.form-input::placeholder {
  font-size: 1.8rem;
}
.form-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #ad8040;
  color: #e8e8e8;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 0.8rem;
  position: absolute;
  top: 0;
  right: 50;
  transform: translate(270%, -40%);
}
.form-btn span {
  font-size: 2rem;
}
.footer-icon {
  padding-left: 1.8rem;
  font-size: 3rem;
  color: #fff;
}
.footer-logo {
  height: 4rem;
  margin-bottom: 1.4rem;
}
.boxes-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.6rem;
}
.footer-box {
  display: flex;
  justify-self: center;
  flex-direction: column;
  gap: 1.8rem;
}
.footer-box h5 {
  font-size: 1.6rem;
  font-weight: 400;
}
.footer-box-txt {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}
.footer-box h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
.footer-socials {
  display: flex;
  gap: 2rem;
}
.footer-link {
  color: #e8e8e8;
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer-scial {
  font-size: 1.4rem;
  background-color: #e8e8e8;
  color: #272727;
  padding: 0.6rem;
  border-radius: 50%;
}
